## Part A

In [80]:
import numpy as np
import pandas as pd
import matplotlib as mp
import statsmodels.api as sm
from statsmodels.sandbox.regression.gmm import GMM

In [81]:
input_table = pd.read_csv(r"C:\Users\gabri\Downloads\midterm_partone.csv")
input_table.head()

,Constant,Stock Change,Inventory Turnover,Operating Profit,Interaction Effect,Current Ratio,Quick Ratio,Debt Asset Ratio
0,1,0.870332,1.795946,0.115846,0.208053,1.672527,0.255171,0.473317
1,1,-0.047347,1.395501,0.436967,0.609788,1.637261,0.221763,0.489967
2,1,0.001176,1.664563,0.541016,0.900555,1.640619,0.189141,0.374269
3,1,-0.901200,1.605738,0.539399,0.866133,1.436221,0.131944,0.224399
4,1,-0.176353,1.591451,0.539938,0.859285,1.433140,0.183095,0.213446

In [82]:
y_vals  = np.array(input_table["Stock Change"])
x_vals  = np.array(input_table[["Inventory Turnover","Operating Profit","Interaction Effect"]])
iv_vals = np.array(input_table[["Current Ratio","Quick Ratio","Debt Asset Ratio"]])

class gmm(GMM):
    def momcond(self, params):
        p0, p1, p2, p3 = params
        endog = self.endog
        exog = self.exog
        inst = self.instrument   

        error0 = endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]
        error1 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]) * exog[:,1]
        error2 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]) * exog[:,2]
        error3 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]) * inst[:,0] 
        error4 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]) * inst[:,1] 
        error5 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]) * inst[:,2] 

        g = np.column_stack((error0, error1, error2, error3, error4, error5))
        return g


beta0 = np.array([0.1, 0.1, 0.1, 0.1])
res = gmm(endog = y_vals, exog = x_vals, instrument = iv_vals, k_moms=6, k_params=4).fit(beta0)

res.summary()

Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 8
         Function evaluations: 12
         Gradient evaluations: 12
Optimization terminated successfully.
         Current function value: 0.000373
         Iterations: 7
         Function evaluations: 13
         Gradient evaluations: 13
Optimization terminated successfully.
         Current function value: 0.000372
         Iterations: 5
         Function evaluations: 9
         Gradient evaluations: 9
Optimization terminated successfully.
         Current function value: 0.000372
         Iterations: 5
         Function evaluations: 11
         Gradient evaluations: 11
Optimization terminated successfully.
         Current function value: 0.000372
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 gmm Results
==============================================================================
Dep. Variable:                      y   Hansen J:                       0.6317
Model:                            gmm   Prob (Hansen J):                 0.729
Method:                           GMM
Date:                Sat, 11 Nov 2023
Time:                        14:59:19
No. Observations:                1696
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
p 0           -0.0200      0.021     -0.964      0.335      -0.061       0.021
p 1            0.0011      0.001      1.843      0.065   -6.89e-05       0.002
p 2           -0.1071      0.032     -3.370      0.001      -0.169      -0.045
p 3            0.0011      0.000      2.760      0.006       0.000       0.002
==============================================================================
"""

In [83]:
y_vals  = np.array(input_table["Stock Change"])
x_vals  = np.array(input_table[["Inventory Turnover","Operating Profit","Interaction Effect"]])
iv_vals = np.array(input_table[["Current Ratio","Quick Ratio","Debt Asset Ratio"]])

class gmm_including_error(GMM):
    def momcond(self, params):
        p0, p1, p2, p3 = params
        endog = self.endog
        exog = self.exog
        inst = self.instrument
        delta = np.array([1, 1, 1])   

        error0 = endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]
        error1 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]) * exog[:,1]
        error2 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]) * exog[:,2]
        error3 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2] - delta[0]) * inst[:,0] 
        error4 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2] - delta[1]) * inst[:,1] 
        error5 = (endog - p0 - p1 * exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2] - delta[2]) * inst[:,2] 

        g = np.column_stack((error0, error1, error2, error3, error4, error5))
        return g


beta0 = np.array([0.1, 0.1, 0.1, 0.1])
res = gmm_including_error(endog = y_vals, exog = x_vals, instrument = iv_vals, k_moms=6, k_params=4).fit(beta0)

res.summary()

Optimization terminated successfully.
         Current function value: 0.401741
         Iterations: 10
         Function evaluations: 14
         Gradient evaluations: 14
Optimization terminated successfully.
         Current function value: 0.220015
         Iterations: 11
         Function evaluations: 17
         Gradient evaluations: 17
Optimization terminated successfully.
         Current function value: 0.207955
         Iterations: 15
         Function evaluations: 19
         Gradient evaluations: 19
Optimization terminated successfully.
         Current function value: 0.173557
         Iterations: 15
         Function evaluations: 20
         Gradient evaluations: 20
Optimization terminated successfully.
         Current function value: 0.069671
         Iterations: 15
         Function evaluations: 21
         Gradient evaluations: 21
Optimization terminated successfully.
         Current function value: 0.035344
         Iterations: 14
         Function evaluations: 21
         Gradient evaluations: 21
Optimization terminated successfully.
         Current function value: 0.032719
         Iterations: 8
         Function evaluations: 17
         Gradient evaluations: 17
Optimization terminated successfully.
         Current function value: 0.027816
         Iterations: 8
         Function evaluations: 17
         Gradient evaluations: 17
Optimization terminated successfully.
         Current function value: 0.031060
         Iterations: 7
         Function evaluations: 16
         Gradient evaluations: 16
Optimization terminated successfully.
         Current function value: 0.027477
         Iterations: 7
         Function evaluations: 16
         Gradient evaluations: 16

<class 'statsmodels.iolib.summary.Summary'>
"""
                          gmm_including_error Results
===============================================================================
Dep. Variable:                       y   Hansen J:                        46.60
Model:             gmm_including_error   Prob (Hansen J):              7.60e-11
Method:                            GMM
Date:                 Sat, 11 Nov 2023
Time:                         14:59:19
No. Observations:                 1696
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
p 0           -5.7851      0.715     -8.095      0.000      -7.186      -4.384
p 1            0.1217      0.011     11.348      0.000       0.101       0.143
p 2           14.4900      2.686      5.394      0.000       9.225      19.755
p 3           -0.1539      0.028     -5.406      0.000      -0.210      -0.098
==============================================================================
"""

## Part B

In [84]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [85]:
part_B_data = pd.read_csv(r"C:\Users\gabri\Downloads\midterm_parttwo.csv")

In [86]:
part_B_data.describe(include='all')

,Years of Education after High School,Requested Credit Amount,Number of Dependents,Monthly Income,Monthly Expense,Marital Status,Credit Rating
count,8081.000000,8081,8081,8081,8081,8081,8081
unique,NaN,3,3,5,5,3,2
top,NaN,Low,Less than 2,Very low,Very low,Married,Positive
freq,NaN,5442,3616,3183,6243,5876,6935
mean,2.608588,NaN,NaN,NaN,NaN,NaN,NaN
std,1.571835,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,7.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
part_B_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8081 entries, 0 to 8080
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Years of Education after High School  8081 non-null   int64
 1   Requested Credit Amount               8081 non-null   object
 2   Number of Dependents                  8081 non-null   object
 3   Monthly Income                        8081 non-null   object
 4   Monthly Expense                       8081 non-null   object
 5   Marital Status                        8081 non-null   object
 6   Credit Rating                         8081 non-null   object
dtypes: int64(1), object(6)
memory usage: 442.1+ KB

In [88]:
part_B_data.head()

,Years of Education after High School,Requested Credit Amount,Number of Dependents,Monthly Income,Monthly Expense,Marital Status,Credit Rating
0,1,Low,No dependent,Very low,Very low,Married,Positive
1,2,Low,No dependent,Very low,Very low,Single,Positive
2,1,Low,No dependent,Very low,Very low,Single,Positive
3,3,Low,No dependent,Very low,Very low,Married,Positive
4,3,Low,No dependent,Very low,Very low,Single,Negative

In [89]:
part_B_data.columns

Index(['Years of Education after High School', 'Requested Credit Amount',
       'Number of Dependents', 'Monthly Income', 'Monthly Expense',
       'Marital Status', 'Credit Rating'],
      dtype='object')

In [90]:
part_B_data = pd.get_dummies(part_B_data, columns=['Requested Credit Amount', 'Number of Dependents', 'Monthly Income', 
                                                   'Monthly Expense', 'Marital Status'], drop_first=True)

In [91]:
X = part_B_data.drop('Credit Rating', axis=1)
y = part_B_data['Credit Rating']

In [92]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [93]:
model_classification = LogisticRegression(random_state=0).fit(X_train, y_train)

In [94]:
y_prediction = model_classification.predict(X_test)

In [95]:
c_matrix = confusion_matrix(y_test, y_prediction)
print("Confusion Matrix:")
print(c_matrix)

Confusion Matrix:
[[   0  581]
 [   0 3460]]

In [96]:
recall = recall_score(y_test, y_prediction, pos_label='Positive')
print("Recall: ", recall)

Recall:  1.0

In [97]:
precision = precision_score(y_test, y_prediction, pos_label='Positive')
print("Precision: ", precision)

Precision:  0.856223707003217

In [109]:
f1 = f1_score(y_test, y_prediction, pos_label='Positive')
print("f1 Score: ", f1)

f1 Score:  0.9225436608452207

Part 2 of Part B

In [110]:
applications_granted = 0.15
y_probabilities_predicted = model_classification.predict_proba(X_test)[:, 1]

In [111]:
threshold_level = sorted(y_probabilities_predicted)[int((1 - applications_granted) * len(y_probabilities_predicted))]

In [119]:
threshold_accepted_applications = (y_probabilities_predicted >= threshold_level).astype(int)

In [ ]:
print(y_test)

7083    Positive
3717    Positive
4610    Positive
5229    Positive
159     Positive
          ...
946     Negative
2928    Positive
1754    Positive
975     Positive
6619    Positive
Name: Credit Rating, Length: 4041, dtype: object

In [120]:
y_test_mapping = {'Positive':1, 'Negative':0}
y_test_map = y_test.map(y_test_mapping)

In [121]:
c_matrix = confusion_matrix(y_test_map, threshold_accepted_applications)
print("Confusion Matrix with Threshold:")
print(c_matrix)

Confusion Matrix with Threshold:
[[ 497   84]
 [2892  568]]

In [126]:
recall = recall_score(y_test_map, threshold_accepted_applications, pos_label=1)
print("Recall with Threshold: ", recall)

Recall with Threshold:  0.16416184971098266

In [127]:
precision = precision_score(y_test_map, threshold_accepted_applications, pos_label=1)
print("Precision with Threshold: ", precision)

Precision with Threshold:  0.8711656441717791

In [128]:
f1 = f1_score(y_test_map, threshold_accepted_applications, pos_label=1)
print("f1 Score with Threshold: ", f1)

f1 Score with Threshold:  0.27626459143968873